#battery {
  padding-right: 0.75em;
  padding-left: 0.75em;
  border-right: 1px solid @overlay0;
}

#battery.charging {
  color: @green;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}
