#bluetooth {
  padding-right: 0.75em;
  padding-left: 0.75em;
  border-right: 1px solid @overlay0;
  color: alpha(@text, 0.9);
}

#bluetooth:hover {
  color: @text;
}

#bluetooth.on {
  color: alpha(@blue, 0.9);
}

#bluetooth.on:hover {
  color: @blue;
}

#bluetooth.connected {
  color: alpha(@lavender, 0.9);
}

#bluetooth.connected:hover {
  color: @lavender;
}
