#clock {
  padding-right: 1.25em;
  padding-left: 1em;
  border-right: 1px solid @overlay0;
  border-left: 1px solid @overlay0;
  background-color: alpha(@surface0, 0.8);
  color: alpha(@text, 0.9);
}

#clock:hover {
  color: @text;
}
