#custom-notification {
  padding-right: 1em;
  padding-left: 0.75em;
  color: alpha(@text, 0.9);
}

#custom-notification:hover {
  color: @text;
}

#custom-notification.notification {
  padding-right: 0.825em;
  background-color: @crust;
  color: alpha(@pink, 0.9);
}

#custom-notification.notification:hover {
  color: @pink;
}

#custom-notification.dnd-notification {
  padding-right: 0.825em;
  background-color: @crust;
  color: alpha(@lavender, 0.9);
}

#custom-notification.dnd-notification:hover {
  color: @lavender;
}
