#memory {
  padding-right: 1.25em;
  padding-left: 0.75em;
  border-right: 1px solid @overlay0;
}

#memory.swap {
  padding-right: 0.75em;
}

#memory.medium {
  color: @pink;
}

#memory.warning {
  color: @yellow;
}

#memory.critical {
  color: @red;
}
