#network {
  padding: 0 1em;
  border: 1.25px solid alpha(@surface2, 0.8);
  border-radius: 0.5em;
  background-image: linear-gradient(
    to top,
    alpha(@crust, 0.8),
    alpha(@surface0, 0.6)
  );
  transition: all 0.2s;
}

#network:hover {
  background-color: @surface2;
}

#network.disconnected {
  border-color: @mantle;
}

#network.ethernet {
  border-color: alpha(@pink, 0.8);
}

#network.wifi {
  border-color: alpha(@blue, 0.8);
}
