#network {
  padding-right: 1em;
  padding-left: 0.75em;
  border-right: 1px solid @overlay0;
  border-left: 1px solid @overlay0;
  color: alpha(@text, 0.9);
}

#network.leaked.disabled,
#network.leaked.disconnected,
#network.leaked.ethernet,
#network.leaked.wifi,
#network.leaked {
  padding-right: 0.75em;
  color: alpha(@text, 0.6);
}

#network:hover {
  color: @text;
}

#network.disabled {
  background-color: @surface0;
  color: alpha(@text, 0.7);
}

#network.disconnected {
  color: alpha(@text, 0.7);
}

#network.disconnected:hover {
  color: alpha(@text, 0.8);
}

#network.ethernet {
  color: alpha(@pink, 0.9);
}

#network.ethernet:hover {
  color: @pink;
}

#network.wifi {
  color: alpha(@lavender, 0.9);
}

#network.wifi:hover {
  color: @lavender;
}
