#pulseaudio {
  padding-right: 0.75em;
  padding-left: 0.75em;
  border-right: 1px solid @overlay0;
  color: alpha(@text, 0.9);
}

#pulseaudio:hover {
  color: @text;
}

#pulseaudio.bluetooth {
  color: alpha(@lavender, 0.9);
}

#pulseaudio.bluetooth:hover {
  color: @lavender;
}

#pulseaudio.muted,
#pulseaudio.source-muted {
  background-color: @surface0;
  color: alpha(@text, 0.7);
}

#pulseaudio.source-muted {
  padding-right: 1em;
}
