@import 'styles/battery.css';
@import 'styles/bluetooth.css';
@import 'styles/clock.css';
@import 'styles/cpu.css';
@import 'styles/custom-notification.css';
@import 'styles/hyprland-language.css';
@import 'styles/hyprland-window.css';
@import 'styles/hyprland-workspaces.css';
@import 'styles/memory.css';
@import 'styles/network.css';
@import 'styles/pulseaudio.css';
@import 'styles/temperature.css';
@import 'styles/theme.css';

* {
  color: @text;
  font-size: 1rem;
  font-family: 'FiraCode Nerd Font';
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces { */
/*   margin-left: 0; */
/* } */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces { */
/*   margin-right: 0; */
/* } */

window#waybar {
  background-color: transparent;
  transition-duration: 0.5s;
  transition-property: all;
}
