@import 'styles/battery.css';
@import 'styles/bluetooth.css';
@import 'styles/clock.css';
@import 'styles/cpu.css';
@import 'styles/custom-notification.css';
@import 'styles/disk.css';
@import 'styles/hyprland-language.css';
@import 'styles/memory.css';
@import 'styles/network.css';
@import 'styles/pulseaudio.css';
@import 'styles/temperature.css';
@import 'styles/theme.css';

* {
  color: @text;
  font-size: 0.9rem;
  font-family: FiraCode Nerd Font;
}

tooltip,
window#waybar {
  border: 1px solid @overlay0;
  border-radius: 0;
  background-color: alpha(@base, 0.9);
}
