#workspaces {
  padding: 0 1em;
  border: 1.25px solid alpha(@overlay0, 0.8);
  border-radius: 0.5em;
  background-image: linear-gradient(
    to top,
    alpha(@mantle, 0.8),
    alpha(@surface0, 0.6)
  );
  background-color: transparent;
}

#workspaces button {
  margin: 0;
  padding: 0 0.5em;
  border: 0 solid transparent;
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  border: 0 solid transparent;
  background-image: linear-gradient(
    to top,
    alpha(@mantle, 0.8),
    alpha(@surface0, 0.6)
  );
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
}
